@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Prompt';
}

.bg-purple {
  background: #6f42c1 !important;
}

.text-purple {
  color: #6f42c1 !important;
}

.text-glay {
  color: rgb(180, 178, 178);
  font-weight: 200;
}

.btn-outline-primary {
  color: #6f42c1 !important;
  border-color: #6f42c1 !important;
}

.btn-outline-primary:hover {
  background: #6f42c1 !important;
  border-color: #6f42c1 !important;
  color: #ffffff !important;
  font-weight: 400;
}

.btn-primary {
  background: #6f42c1 !important;
  border: 0 !important;
}

.btn-primary:hover {
  background: #5b36a1 !important;
}


.marjin15 {
  margin-top: 6rem;
}

.bgimage {
  /* background-image: url("../public/img_dormitory/Map/cmuin.jpg"); */
  background-color: #6f42c1;
}

.image-containner {
  height: 33rem;
  width: 100%;
  object-fit: cover;
}

.h-contain-map {
  max-height: 40rem;
}

.contain-map {
  width: 100%;
  object-fit: contain;
}

.bg-map {
  background-image: url("https://elearning.cmu.ac.th/pluginfile.php/1/theme_space/sliderimage1/1654502497/20597668_10213765367385655_1137600657_o%20%283%29.jpg");
}

.alert-trim {
  display: inline-block;
}

.hight-photo {
  height: 18rem;
  width: 100%;
  object-fit: cover;
}

.card-news {
  /* height: 26rem; */
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.hight-photo-news {
  /* height: 26rem; */
  max-height: 4rem;
}

.hight-top-photo {
  max-height: 20rem;
  width: 100%;
  object-fit: cover;
}

.new-color {
  background-color: #f4f4f4;
}

.new-text-color {
  color: #3c3c3c;
}

.new-text-color-p {
  color: #6f42c1;
  text-decoration: none;
}

.h-news:hover {
  color: #a686e2;
  text-decoration: underline;
}

.new-solit {
  border-top: solid 1px black;
}

.new-br {
  border-radius: 20px;
}

.new-shdow {
  box-shadow: 5px 5px 10px #b2b2b2;
}



.circle {
  width: 3rem;
  height: 3rem;
  background-color: rgb(255, 255, 255);
  border: solid 2px #6f42c1;
  border-radius: 100%;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #6f42c1 !important;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #212529;
}

.h-2 {
  height: 1.5em;
}

.list-inline-item {
  color: #545454;
}

.hover-link :hover {
  margin-left: 0.2rem;
}

.text-white-80 {
  color: rgba(255, 255, 255, 0.934);
}

.bg-dark-150 {
  background-color: #00000030;
}

.content-booking-absolute {
  position: absolute;
  top: 12rem;
}

@media only screen and (max-width: 1200px) {
  .content-booking-absolute {
    top: 9rem;
  }
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

input {
  display: none;
}

/* Globals */

h1 {
  font-weight: 900;
  font-size: 2.7rem;
  max-width: 20ch;
}

p {
  max-width: 60ch;
}

a {
  color: currentcolor;
}

/* Utilities */
.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,
      minmax(var(--auto-grid-min-size, 14rem), 1fr));
  grid-gap: var(--auto-grid-gap, 0);
  padding: 0;
}

.flow {
  margin-top: var(--flow-space, 5rem);
  text-align: center;
}

.toppic {
  margin-top: 100px;
}

/* Blocks */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  color: #ece0e0;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
}

@media (max-width: 986px) {
  .roundedResponNavbar {
    border-radius: 0em !important;
  }
}

.profile::before,
.profile::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /*inset: 0;*/
  top: 0;
  left: 0;
}


.profile::after {

  opacity: 0;
  transition: 300ms opacity linear;
}

.profile>* {
  z-index: 1;
}

.profile img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  transition: filter 200ms ease, transform 250ms linear;
}

.profile h2,
.profile p {
  transform: translateY(2ex);
}

.profile h2 {
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.03ch;
  transition: 300ms transform ease;
  margin-left: 1rem;
}

.profile p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 1rem;
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
  padding: 0;
}


.profile:focus {
  outline: 0.5rem solid white;
  outline-offset: -0.5rem;
}

.profile:hover :is(h2, p),
.profile:focus :is(h2, p) {
  transform: none;
}

.profile:hover::after,
.profile:focus::after,
.profile:hover::before,
.profile:focus::before {
  opacity: 0.7;
}

.profile:hover p,
.profile:focus p {
  opacity: 1;
  transition-delay: 200ms;
}

.profile:hover img,
.profile:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}

.mg101 {
  margin-top: 6rem !important;
}

.h-100vh {
  height: 100vh;
}

.h-100 {
  height: 100% !important;
}

.image-bg-select_room {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.rounded-r-4 {
  border-radius: 0em 1em 1em 0em;
}

.rounded-top-4 {
  border-radius: 1em 1em 0em 0em !important;
}

.rounded-ts-4 {
  border-radius: 0em 1em 0em 0em !important;
}

.rounded-room {
  border-radius: 0em 0.7em 0em 10em !important;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.text-gray-600 {
  color: rgb(141, 141, 141) !important;
}

.profile-student {
  width: 4rem;
  object-fit: cover;
}

.room {
  width: 100%;
  border-radius: 1rem;
  padding-bottom: 0.7rem;
  margin-top: 1.5rem;
  border: 0;
}

@media (max-width: 575px) {
  .room {
    width: 95%;
  }
}

.count-room {
  height: 2em;
}

.bg-dark-100 {
  background: rgb(116, 114, 114);
}
.text-dark-100 {
  color: rgb(116, 114, 114);
}

.sidebar {

  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 90px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  z-index: 99;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 11.5rem;
    padding: 0;
  }
}

.sidebar .nav-link {
  color: #333;
}

.sidebar .nav-link.active {
  color: #a686e2;
}

ul li {
  list-style: none;
}

.card-room:hover{
  background: #4c2790 !important;
  
}
.bg-pp{
  background-color: rgb(166, 95, 233);
  border-radius: 10px;
}
.joinBtn:active {
  background-color: #9c6ff1 !important;
  color: #ffffff !important;
}
.cancerResever:hover{
  color:#dc3545 !important;
}