@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Prompt';
}

.bg-purple {
  background: #6f42c1 !important;
}

.text-purple {
  color: #6f42c1;
}

.text-glay {
  color: rgb(180, 178, 178);
  font-weight: 200;
}

.btn-outline-primary {
  color: #6f42c1 !important;
  border-color: #6f42c1 !important;
}

.btn-outline-primary:hover {
  background: #6f42c1 !important;
  border-color: #6f42c1 !important;
  color: #ffffff !important;
  font-weight: 400;
}
.btn-primary{
  background: #6f42c1 !important;
  border: 0 !important;
}
.btn-primary:hover {
  background: #5b36a1 !important;
}
.marjin15 {
  margin-top: 6rem;
}

.bgimage {
  /* background-image: url("../public/img_dormitory/Map/cmuin.jpg"); */
  background-color: #6f42c1;
}

.image-containner {
  height: 33rem;
  width: 100%;
  object-fit: cover;

}

.h-contain-map {
  max-height: 40rem;
}

.contain-map {
  width: 100%;
  object-fit: contain;
}

.bg-map {
  background-image: url("https://elearning.cmu.ac.th/pluginfile.php/1/theme_space/sliderimage1/1654502497/20597668_10213765367385655_1137600657_o%20%283%29.jpg");
}

.alert-trim {
  display: inline-block;
}

.hight-photo {
  height: 18rem;
  width: 100%;
  object-fit: cover;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #6f42c1 !important;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #212529;
}

.h-2 {
  height: 1.5em;
}

.list-inline-item {
  color: #545454;
}

.hover-link :hover {
  margin-left: 0.2rem;
}

.text-white-80 {
  color: rgba(255, 255, 255, 0.934);
}

.bg-dark-150 {
  background-color: #00000030;
}
.content-booking-absolute{
  position: absolute;
  top:12rem;
}

@media only screen and (max-width: 1200px) {
.content-booking-absolute {
    top: 9rem;
  }
}