@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Prompt';
}

.bg-purple {
  background: #6f42c1 !important;
}

.text-purple {
  color: #6f42c1 !important;
}

.text-glay {
  color: rgb(180, 178, 178);
  font-weight: 200;
}

.btn-outline-primary {
  color: #6f42c1 !important;
  border-color: #6f42c1 !important;
}

.btn-outline-primary:hover {
  background: #6f42c1 !important;
  border-color: #6f42c1 !important;
  color: #ffffff !important;
  font-weight: 400;
}
.btn-primary{
  background: #6f42c1 !important;
  border: 0 !important;
}
.btn-primary:hover {
  background: #5b36a1 !important;
}
.marjin15 {
  margin-top: 6rem;
}

.bgimage {
  /* background-image: url("../public/img_dormitory/Map/cmuin.jpg"); */
  background-color: #6f42c1;
}

.image-containner {
  height: 33rem;
  width: 100%;
  object-fit: cover;
}

.h-contain-map {
  max-height: 40rem;
}

.contain-map {
  width: 100%;
  object-fit: contain;
}

.bg-map {
  background-image: url("https://elearning.cmu.ac.th/pluginfile.php/1/theme_space/sliderimage1/1654502497/20597668_10213765367385655_1137600657_o%20%283%29.jpg");
}

.alert-trim {
  display: inline-block;
}

.hight-photo {
  height: 18rem;
  width: 100%;
  object-fit: cover;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #6f42c1 !important;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #212529;
}

.h-2 {
  height: 1.5em;
}

.list-inline-item {
  color: #545454;
}

.hover-link :hover {
  margin-left: 0.2rem;
}

.text-white-80 {
  color: rgba(255, 255, 255, 0.934);
}

.bg-dark-150 {
  background-color: #00000030;
}
.content-booking-absolute{
  position: absolute;
  top:12rem;
}

@media only screen and (max-width: 1200px) {
.content-booking-absolute {
    top: 9rem;
  }
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
input{
  display: none;
}

/* Globals */

h1 {
  font-weight: 900;
  font-size: 2.7rem;
  max-width: 20ch;
}

p {
  max-width: 60ch;
}

a {
  color: currentcolor;
}

/* Utilities */
.auto-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size, 14rem), 1fr)
  );
  grid-gap: var(--auto-grid-gap, 0);
  padding: 0;
}

.flow {
  margin-top: var(--flow-space, 5rem);
  text-align: center;
}
.toppic{
  margin-top: 100px;
}
/* Blocks */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  color: #ece0e0;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
}

.profile::before,
.profile::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /*inset: 0;*/
  top: 0;
  left: 0;
}

.profile::before {
  background: linear-gradient(
    to top,
    hsl(0 0% 0% / 0.79) 1%,
    hsl(0 0% 0% / 0.468) 50%,
    hsl(0 0% 0% / 0.113) 90%,
    hsl(0 0% 0% / 0) 100%
  );
  transition: 300ms opacity linear;
}

.profile::after {
  
  opacity: 0;
  transition: 300ms opacity linear;
}

.profile > * {
  z-index: 1;
}

.profile img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 200ms ease, transform 250ms linear;
}

.profile h2,
.profile p {
  transform: translateY(2ex);
}

.profile h2 {
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.03ch;
  transition: 300ms transform ease;
  margin-left: 1rem;
}

.profile p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 1rem;
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
  padding: 0;
}


.profile:focus {
  outline: 0.5rem solid white;
  outline-offset: -0.5rem;
}

.profile:hover :is(h2, p),
.profile:focus :is(h2, p) {
  transform: none;
}

.profile:hover::after,
.profile:focus::after,
.profile:hover::before,
.profile:focus::before {
  opacity: 0.7;
}

.profile:hover p,
.profile:focus p {
  opacity: 1;
  transition-delay: 200ms;
}

.profile:hover img,
.profile:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}
.mg101{
  margin-top: 6rem !important;
}
.h-100vh {
  height: 100vh;
}
.image-bg-select_room {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
.rounded-r-4{
  border-radius:0em 1em 1em 0em;
}
.rounded-top-4 {
  border-radius:1em 1em 0em 0em !important;
}
.rounded-ts-4 {
  border-radius: 0em 1em 0em 0em !important;
}
.rounded-room {
  border-radius: 0em 0.7em 0em 10em !important;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}
.text-gray-600 {
  color: rgb(141, 141, 141) !important;
}
.profile-student{
  width: 4rem;
  object-fit: cover;
}
.room{
  width: 100%;
  border-radius: 1rem;
  padding-bottom: 0.7rem;
}
.count-room{
  height: 2em;;
}
.bg-dark-100{
  background: rgb(160, 158, 158);
  background: rgb(116, 114, 114);
}